* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
}

header {
  padding-bottom: 32px;
  padding-left: 24px;
}

.title {
  padding-bottom: 16px;
}

.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  padding-left: 8px;
  min-width: 300px;
  width: -moz-min-content;
  width: min-content;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  width: 100%;
  background: hsl(0deg, 0%, 60%);
  border-top: 4px solid hsl(0deg, 0%, 40%);
  padding-top: 64px;
  min-height: 100%;
}

.card {
  background: hsl(0deg, 0%, 100%);
  width: 100%;
  padding: 8px 24px 16px 24px;
  border-bottom: 4px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  background: hsl(45deg, 100%, 50%);
  padding: 16px 26px;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -4px;
  margin-left: -32px;
  font-size: 1.25rem;
  border-bottom: 4px solid hsl(45deg, 100%, 40%);
}
